@import "./colors.css";

body {
  background-color: var(--primary-bg);
  color: var(--primary-txt);
}

.dropdown-menu,
.dropdown-item {
  background-color: var(--primary-bg);
  color: var(--primary-txt);
}

.dropdown-item {
  font-size: small;
}

.dropdown-menu {
  border-color: var(--btn-color);
}

.btn {
  transition: 0.5s background-color;
  font-size: 0.875rem;
  border-radius: 0px;
  background-color: transparent; /* transparent */
  color: var(--btn-color); /* #a80000 */
  border-bottom: 0.5px solid var(--btn-color); /* #a80000 */
  letter-spacing: 2px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
  text-transform: unset;
  font-style: italic;
  font-weight: unset;
}

.btn:hover,
.btn.active {
  background-color: var(--btn-color); /* #c13e3e */
  color: var(--btn-hover-txt); /* #cccccc */
  border-color: transparent;
}

.form-control,
.form-control:focus {
  background-color: transparent;
  color: var(--primary-txt);
  border-color: var(--primary-txt);
  border-width: 0.5px;
}

::placeholder {
  color: var(--primary-txt) !important;
  letter-spacing: 2px !important;
  opacity: 50% !important;
}

.badge {
  background-color: transparent;
  border: 1px solid var(--btn-color);
  color: var(--btn-color);
  font-weight: normal;
  letter-spacing: 1px;
  padding: 3px 15px;
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.spinner-border {
  color: var(--btn-color);
}

.btn.red {
  color: var(--red);
  border-color: var(--red);
}

.btn.orange {
  color: var(--orange);
  border-color: var(--orange);
}

.btn.green {
  color: var(--green);
  border-color: var(--green);
}

.btn.blue {
  color: var(--blue);
  border-color: var(--blue);
}

.btn.purple {
  color: var(--purple);
  border-color: var(--purple);
}

/*  */

.btn.red:hover,
.btn.red.active {
  color: var(--btn-hover-txt);
  border-color: transparent;
  background-color: var(--red);
}

.btn.orange:hover,
.btn.orange.active {
  color: var(--btn-hover-txt);
  border-color: transparent;
  background-color: var(--orange);
}

.btn.green:hover,
.btn.green.active {
  color: var(--btn-hover-txt);
  border-color: transparent;
  background-color: var(--green);
}

.btn.blue:hover,
.btn.blue.active {
  color: var(--btn-hover-txt);
  border-color: transparent;
  background-color: var(--blue);
}

.btn.purple:hover,
.btn.purple.active {
  color: var(--btn-hover-txt);
  border-color: transparent;
  background-color: var(--purple);
}

.nav-custom {
  z-index: 1;
  width: 100%;
  border-bottom: 0.5px dotted var(--secondary-color);
  position: absolute;
  top: 0;
  padding: 20px;
  background-color: var(--primary-bg);
  height: 75px;
  display: flex;
}

.between {
  display: flex;
  justify-content: space-between;
}
